@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">Acerca:</h3>
            </div>
                <div class="col-md-12">
                <p>Esta página lleva el control de una librería, se pueden agregar articulos (En especifico libros o revistas), asi como manejar clientes, facturas y las diferentes sucursales que esta tiene</p>
                
                </div>
        </div>
    </div>
</div>